#myNavBar{
    height: 7.5%;
    z-index: 1;
    padding: 0;
  }
  #elA{
    padding: 8 16;
  }
  #elB{
    margin: 8 16 0 16;
  }
  #mapid{
    height: 92.5%;
    z-index: 0;
  }
  #navbarSupportedContent{
    background-color: var(--light);
    width: 100%;
    padding: 8 16;
  }