/*Now CSS works well, still we have to figure out how to
 *make the map a little less thin and it should be ok.
 *Link to the example from which i took the CSS:
 *http://jsfiddle.net/agorshkov23/5osbcpyc/
 */


nav {
  position: fixed;
  height: 50px;
  margin-bottom: 1em;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

body{
  background: var(--light);
}

body > div.mapContainer {
  position: fixed;
  top: calc(50px + 1em);
  bottom: 1em;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  right: 0;
  left: 0;
  vertical-align: top;
}

#mapid{
  height: 100%;
  width: 100%;
}

#switchLabel{
  color: #343a40;
}

#navbarSupportedContent{
  background-color: var(--light);
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}

#myNavBar{
  padding-left: 0;
  padding-right: 0;
}
#elA{
  margin-left: 1em;
}
#elB{
  margin-right: 1em;
}

.leaflet-popup-content-wrapper{
  background-color: var(--light);
}
.leaflet-popup-tip {
  background: var(--light);
}

.dark > .leaflet-popup-content-wrapper{
  background-color: var(--dark);
}
.dark > .leaflet-popup-tip-container > .leaflet-popup-tip{
  background-color: var(--dark);
}

.light > .leaflet-popup-content-wrapper{
  background-color: var(--light);
}
.light > .leaflet-popup-tip-container > .leaflet-popup-tip{
  background-color: var(--light);
}

.modal-header {
  text-align: center;
}

.modal-title{
  width: 100%;
}

.modal-body {
  text-align: center;
}

.modal-body > label {
  padding-right: 2%;
}
#btn-close-modal{
  margin: 0px;
  padding: 0px;
}
