.card-header {
  height: 200px;
  background-color: orange;
}

#download-icon {
  font-size: 30px;
  color: black;
  opacity: 0.4;
}

#heading-card {
  margin-top: 40px;
  font-size: 45px;
}

.cardheader-text {
  color: #fff;
}

.card-text.sub-text-color {
  color: #8c8c8c;
}

.card-text:last-child {
  font-size: 30px;
  color: #595959;
}

#cardheader-subtext {
  font-size: 20px;
}

.card.cards-shadown {
  box-shadow: 2px 2px 30px #aaaaaa;
}

.row.space-rows {
  margin: 40px;
}

.col {
  padding: 20px 7px 0px 7px;
}

.card.cards-shadown.cards-hover:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 99;
}

.card-header:first-child:hover {
  background-color: #ffb366;
}

#page {
  height: 100vh;
  width: 100%;
}

.col.icon-footer {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 30px;
}

.with-border {
  border: 1px solid black;
  border-top: 0;
  border-bottom: 0;
}

#page-bottom {
  padding-top: 1em;
}

.card-header {
  background-color: rgba(255,179,102,0);
}

#page-bottom {
  /*position: absolute;*/
  /*bottom: 0;*/
  /*width: 100%;*/
}

#mapid {
  height: 100%;
}

.mainDiv {
  width: 50%;
}

.fa.fa-star-o.empty-star {
  font-size: 40px;
}

#cardFirstLine {
  width: 100%;
  overflow: overlay;
}

.text-truncate.rightContainer {
  overflow-y: scroll;
}

label {
  word-wrap: break-word;
}

#POI {
  text-overflow: ellipsis;
}

#page-middle {
  overflow-y: scroll;
}

#mailContainer {
  overflow: scroll;
}

@media (min-width: 768px) {
  #upper {
    display: flex;
    flex-direction: row;
    min-height: 30%;
    align-items: center;
    align-self: center;
    /*text-align: center;*/
  }
}

@media (min-width: 768px) {
  #imageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  #imageProfile {
    margin-top: 1em!important;
    width: 200px;
    height: 200px;
    margin-right: 2em;
    margin-bottom: 1em!important;
  }
}

@media (min-width: 768px) {
  #nameContainer {
    display: flex;
    align-items: center;
    padding: 0.5em;
  }
}

@media (min-width: 768px) {
  #nameMailContainer {
    display: flex;
    align-self: center;
    align-items: center!important;
    border-right: 2px solid black;
    padding-right: 2em;
  }
}

@media (min-width: 768px) {
  #rateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-left: 2em;
  }
}

@media (min-width: 768px) {
  #rateColumnContainer {
    width: 100%;
  }
}

#headerModal {
  border-bottom: 1px solid #dee2e6;
}

