#choiceContainer {
  padding: 1em;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/*#page-bottom {
	position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
}*/

#popupContainer {
border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  transition: all 0.50s ease-in-out;
  /* transition: all 0.50s ease-in; */

}

.glyphicon-move {
  cursor: move;
  cursor: -webkit-grabbing;
}
#popupOpener {
  border-radius: 15px;
  border-bottom: 2px solid #cccccc;
  transition: all 0.50s ease-in-out;
  /* transition: all 0.50s ease-in; */
}

#prev {
border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: all 0.25s ease-in-out;
}

#prev:hover {
  transform: scaleX(1.1);
  background-color: #cccccc !important;
}

#next {
	border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 0.25s ease-in-out;
}

#next:hover {
  transform: scaleX(1.1);
  background-color: #cccccc !important;
}
