#choiceContainer {
  padding: 1em;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#popupContainer {
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  transition: all 0.50s ease-in-out;
  /* transition: all 0.50s ease-in; */

}

.glyphicon-move {
  cursor: move;
  cursor: -webkit-grabbing;
}
#popupOpener {
  border-radius: 15px;
  border-bottom: 2px solid #cccccc;
  transition: all 0.50s ease-in-out;
  /* transition: all 0.50s ease-in; */
}

#prev {
  border-bottom-left-radius: 15px;
  transition: all 0.25s ease-in-out;
}

#prev:hover {
  transform: scaleX(1.1);
  background-color: #cccccc !important;
}

#next {
  border-bottom-right-radius: 15px;
  transition: all 0.25s ease-in-out;
}

#next:hover {
  transform: scaleX(1.1);
  background-color: #cccccc !important;
}


.bootstrap-select{
  width: auto;
}

.dropdown {
    width: auto;
}
